# Salesforce DX
.sfdx

# Salesforce Metadata
src

# Visual Studio Code
.vscode

# Node.js
node_modules

# Apex DB files
apex.db

# Node Cache node_modules
C:Devnodejsnpm-cache

/node_modules
npm-debug.log
.DS_Store
/*.env